{% extends '/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/fullcalendar.min.css" />
{% endblock %}

{% block title %}Citas{% endblock %}

{% block titleDash %}Registro de Citas{% endblock %}
{% block infoDash %}Agenda de citas de los pacientes{% endblock %}

{% block tabla %}

            <div class="card card-calendar">
                <div class="content">
                    <div id="calendar"></div>
                </div>
            </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ dir }}/assets/js/calendar/moment.min.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/js/calendar/fullcalendar.min.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/js/calendar/es.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('.side-menu li:eq(4)').addClass('active');
        $('.side-menu li:eq(5)').addClass('active2');
        $('#calendar').fullCalendar({
            // put your options and callbacks here
        })
    </script>
{% endblock %}