@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: local('Courgette Regular'), local('Courgette-Regular'), url(https://fonts.gstatic.com/s/courgette/v5/wEO_EBrAnc9BLjLQAUk1VvoP.ttf) format('truetype');
}
::selection {
  background-color: #A866F5;
  color: #fff;
}
.login-body {
  background-color: #EBEFF2;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
}
.login-body .login-container {
  width: 400px;
}
.login-body .login-container .panel {
  border: 1px solid #e5e5e5;
  margin-top: 20%;
}
.login-body .login-container .panel img {
  width: 170px;
  margin-top: 25px;
}
.login-body .login-container .panel .panel-heading {
  background-color: #fff;
  border-bottom: 0;
}
.login-body .login-container .panel .panel-body {
  padding: 20px 30px 30px 30px;
}
.login-body .login-container .panel .panel-body .left-inner-addon {
  position: relative;
}
.login-body .login-container .panel .panel-body .left-inner-addon i {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #A866F5;
}
.login-body .login-container .panel .panel-body .left-inner-addon input {
  padding-left: 35px;
}
.login-body .login-container .panel .panel-body .left-inner-addon input:focus {
  border-color: #bdbdbd;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 100, 255, 0.5);
}
.login-body .login-container .panel .panel-body .btn-default {
  padding: 10px;
  background-color: #A866F5;
  color: #fff;
  margin-top: 5px;
  border-bottom-color: #309;
}
.login-body .login-container .panel .panel-body .input-icon {
  padding-left: 35px;
  padding-right: 12px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.login-body .login-container .panel .panel-body .msg-red {
  text-align: center;
  color: #c12e2a;
}
.login-body .footer {
  color: #8c8c8c;
}
.active2 a {
  color: #A866F5 !important;
}
.btn-nuevo {
  padding-top: 25px;
  display: inline-block;
}
.bb-alert {
  position: fixed;
  bottom: 15%;
  right: 0;
  margin-bottom: 0;
  font-size: 1.2em;
  padding: 1em 1.3em;
  z-index: 2000;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
}
.upper {
  text-transform: uppercase;
}
.side-menu-container a .icon {
  font-size: 17px !important;
}
.table td ul {
  padding: 0;
  margin-bottom: 0;
}
.table td ul li {
  list-style: none;
  display: inline-block;
}
.table td i {
  font-size: 20px;
  color: #309;
}
.dash-form .card-header {
  background-color: #A866F5;
  color: #fff;
}
.dash-form .card-header .titulo {
  padding: 12px;
  font-size: 18px;
}
.dataTables_filter input {
  height: 18px;
}
.btn-pdf {
  background: #fff !important;
  border: 1px solid #A866F5 !important;
  color: #A866F5 !important;
}
.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 35px;
}
.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 10px;
  pointer-events: none;
}
/*# sourceMappingURL=estilo.css.map */