@import url(https://fonts.googleapis.com/css?family=Courgette);

@colorbase: #A866F5;
//@colorcomp: #4F84B5;
@colorcomp: #309;
@footbg:#EBEFF2;
@fuente-form:"Helvetica Neue", Helvetica, Arial, sans-serif;
@bordeprueba: 1px solid red;
@fuente-login:'RobotoDraft', 'Roboto', sans-serif;
@gris-login: #e5e5e5;
@font-courgette : 'Courgette', cursive;
@color-red: #c12e2a;


::selection{background-color: @colorbase;color: #fff;}

.login-body{background-color:@footbg; font-family: @fuente-login;
  .login-container{width: 400px;
    .panel{border: 1px solid @gris-login; margin-top: 20%;
      img{width: 170px;margin-top: 25px;}
      .panel-heading{background-color: #fff;border-bottom: 0;}
      .panel-body{padding:20px 30px 30px 30px;
        .left-inner-addon{position: relative;
          i{position: absolute; padding: 10px; pointer-events: none; color: @colorbase}
          input{padding-left: 35px;}
          input:focus{border-color:#bdbdbd; box-shadow: 0px 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(255,100,255,0.5);}
        }
        .btn-default{padding:10px;background-color: @colorbase;color: #fff;margin-top:5px; border-bottom-color:@colorcomp }
        .input-icon{padding-left: 35px;padding-right: 12px;border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
        .msg-red{text-align: center; color: @color-red}
      }
    }
  }
  .footer{color: #8c8c8c}
}

.active2{a{color: @colorbase !important;}}
.btn-nuevo{padding-top: 25px; display: inline-block}
.bb-alert {position: fixed;bottom: 15%;right: 0;margin-bottom: 0;font-size: 1.2em;padding: 1em 1.3em; z-index: 2000; -webkit-animation-delay: 3s; -moz-animation-delay: 3s;}
.upper { text-transform: uppercase; }

.side-menu-container{
  a{
    .icon{font-size: 17px !important;}
  }
}

.table{
  td{
    ul {padding: 0;margin-bottom: 0;
      li {list-style: none;display: inline-block;}
    }
    i{font-size: 20px;color:@colorcomp}
  }
}

.dash-form{
  .card-header{background-color: @colorbase; color:#fff;
    .titulo{padding: 12px; font-size: 18px;}
  }
}

.dataTables_filter input {height: 18px;}
.btn-pdf{background: #fff !important; border: 1px solid @colorbase !important; color: @colorbase !important; }

.right-inner-addon {position: relative;
  input {padding-right: 35px;}
  i {position: absolute;right: 0px;padding: 10px 10px;pointer-events: none; }
}
