{% extends '/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block titleDash %}Dashboard{% endblock %}
{% block infoDash %}Estadisticas y Resultados{% endblock %}



{% block tabla %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('.side-menu li:eq(0)').addClass('active');
    </script>
{% endblock %}