{% set dir =  baseUrl ~ "/views" %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{{ dir }}/assets/images/favicon.png">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/estilo.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/animate.min.css" />
</head>
<body class="login-body">

    <div class="container login-container">
        <div class="login-panel panel panel-default plain animated bounceIn">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <img id="logo" src="{{ dir }}/assets/images/logo-new.png" alt="Fisiostetik">
                </h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal mt0" method="post" action="{{ urlFor('login-form') }}" id="login-form" role="form">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <div class="left-inner-addon">
                                <i class="fa fa-envelope"></i>
                                <input type="text" name="user" class="form-control" value="" placeholder="Usuario" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <div class="left-inner-addon">
                                <i class="fa fa-key"></i>
                                <input type="password" name="password" class="form-control" value="" placeholder="Password" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <button class="btn btn-default btn-block" type="submit">INGRESAR</button>
                        </div>
                    </div>
                </form>
                <div class="msg-red">{{ flash['error'] }}</div>
            </div>
        </div>
        <!-- End .panel -->
        </div>

        <!-- End login container -->
        <div class="container animated fadeIn">
            <div class="footer">
                <p class="text-center">&copy; {{ now | date('Y') }} Fisiostetik admin. Todos los derechos reservados !!!</p>
            </div>
        </div>

    <script type="text/javascript" src="{{ dir }}/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/bootstrap.min.js"></script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
