<!-- Modal Delete Paciente -->
<div class="modal fade modal-danger" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Desea Eliminar este Paciente?</h4>
            </div>
            <div class="modal-body">
                <h4 id="title-producto"></h4>
                <form class="form-vertical" method="post" action="{{ urlFor('delete-paciente') }}" data-toggle="validator">
                    <input type="hidden" name="codigo-paciente" required />
                    <input type="hidden" name="nombre-paciente" required />
                    <input type="hidden" name="user" value="{{ user['iduser'] }}" />
                    <div class="form-group">
                        <input type="text" name="detalle-del" placeholder="Por que se elimina?"  class="form-control" required/>
                    </div>
                    <div class="text-right"><input type="submit" value="ELIMINAR" class="btn btn-danger"/></div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Alertas -->
{% if flash['mensaje'] %}
    <div class="bb-alert alert {{ flash['content'] }} animated fadeOut">
        <span>{{ flash['mensaje'] }}</span>
    </div>
{% endif %}