<nav class="navbar navbar-default navbar-fixed-top navbar-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-expand-toggle">
                <i class="fa fa-bars icon"></i>
            </button>
            <img src="{{ dir }}/assets/images/logo-new.png" class="logo-img">
            {# <ol class="breadcrumb navbar-breadcrumb">
                 <li class="active">Dashboard</li>
            </ol>#}
            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                <i class="fa fa-th icon"></i>
            </button>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                <i class="fa fa-times icon"></i>
            </button>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-comments-o"></i></a>
                <ul class="dropdown-menu animated fadeInDown">
                    <li class="title">
                        Notification <span class="badge pull-right">0</span>
                    </li>
                    <li class="message">
                        No new notification
                    </li>
                </ul>
            </li>
            <li class="dropdown profile">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Usuario <span class="caret"></span></a>
                <ul class="dropdown-menu animated fadeInDown">
                    <li class="profile-img">
                        <img src="" class="profile-img">
                    </li>
                    <li>
                        <div class="profile-info">
                            <h4 class="username">{{ user['nombre'] | upper }}</h4>
                            <p>{{ user['user'] }}@fisiostetik.com.py</p>
                            <div class="btn-group margin-bottom-2x" role="group">
                                <button type="button" class="btn btn-default"><i class="fa fa-user"></i> Perfil</button>
                                <a href="{{ urlFor('logout') }}" class="btn btn-default"><i class="fa fa-sign-out"></i> Salir</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="side-menu sidebar-inverse">
    <nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <div class="icon fa fa-cog" style="font-size: 20px"></div>
                    <div class="title">Admin</div>
                </a>
                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                    <i class="fa fa-times icon"></i>
                </button>
            </div>
            <ul class="nav navbar-nav">
                {% if user.idrol == 0 %}
                    <li>
                        <a href="" disabled="true">
                            <span class="icon fa fa-pie-chart"></span><span class="title">Dashboard</span>
                        </a>
                    </li>
                    <li class="panel panel-default dropdown">
                        <a data-toggle="collapse" href="#dropdown-element">
                            <span class="icon fa fa-female"></span><span class="title">Pacientes</span>
                        </a>
                        <!-- Lista AMB -->
                        <div id="dropdown-element" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="{{ urlFor('pacientes') }}">Registro</a></li>
                                    <li><a href="{{ urlFor('reporte-paciente') }}">Reportes</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="panel panel-default dropdown">
                        <a data-toggle="collapse" href="#dropdown-calendar">
                            <span class="icon fa fa-calendar"></span><span class="title">Calendario</span>
                        </a>
                        <!-- Lista AMB -->
                        <div id="dropdown-calendar" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="">Citas</a></li>
                                    <li><a href="">Reportes</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ urlFor('dashboard') }}">
                            <span class="icon fa fa-pie-chart"></span><span class="title">Dashboard</span>
                        </a>
                    </li>
                    <li class="panel panel-default dropdown">
                        <a data-toggle="collapse" href="#dropdown-element">
                            <span class="icon fa fa-female"></span><span class="title">Pacientes</span>
                        </a>
                        <!-- Lista AMB -->
                        <div id="dropdown-element" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="{{ urlFor('pacientes') }}">Registro</a></li>
                                    <li><a href="{{ urlFor('reporte-paciente') }}">Reportes</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="panel panel-default dropdown">
                        <a data-toggle="collapse" href="#dropdown-calendar">
                            <span class="icon fa fa-calendar"></span><span class="title">Calendario</span>
                        </a>
                        <!-- Lista AMB -->
                        <div id="dropdown-calendar" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="{{ urlFor('citas') }}">Citas</a></li>
                                    <li><a href="">Reportes</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="{{ urlFor('usuarios') }}">
                            <span class="icon fa fa-user"></span><span class="title">Usuarios</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>