{% extends '/base.html.twig' %}

{% block title %}Usuario{% endblock %}


{% block titleDash %}Modificacion de Usuario{% endblock %}
{% block infoDash %}Actualiza los datos del usuario seleccionado{% endblock %}

{% block tabla %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Datos del Paciente: {{ paciente.nombre | upper }}</h4>
        </div>

        <div class="panel-body">
            {# Formulario Actualizar User#}
            <form class="form-horizontal" method="post" action="{{ urlFor('update-user') }}" data-toggle="validator">
                <input type="hidden" name="id" value="{{ usuario.iduser }}" />
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Usuario</label>
                    <div class="col-sm-10">
                        <input type="text" name="usuario" class="form-control" placeholder="Usuario único sin espacios" value="{{ usuario.usuario }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" name="nombre" class="form-control upper" placeholder="Nombre Completo del Usuario" value="{{ usuario.nombre }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Contraseña</label>
                    <div class="col-sm-10">
                        <input type="password" name="pass" class="form-control" placeholder="Contraseña" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Contraseña</label>
                    <div class="col-sm-10">
                        <input type="password" name="pass2" class="form-control" placeholder="Contraseña" required>
                    </div>
                </div>
                <div class="text-right"><input type="submit" value="ACTUALIZAR" class="btn btn-primary" /></div>
            </form>
        </div>
    </div>

    <div><a class="btn btn-xs btn-info" href="{{ urlFor('usuarios') }}"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Regresar</a></div>

    {% include '/include/alert.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('.side-menu li:eq(7)').addClass('active');
    </script>
{% endblock %}