{% extends '/base.html.twig' %}

{% block title %}Usuarios{% endblock %}
{% block stylesheets %}<link href="{{ dir }}/assets/css/select2.min.css" rel="stylesheet"/>{% endblock %}


{% block titleDash %}Usuarios{% endblock %}
{% block infoDash %}Altas, bajas y modificaciones de los usuarios{% endblock %}

{% block nuevo %}
    <button class="btn btn-info" data-toggle="modal" data-target="#new-paciente"><i class="fa fa-plus" aria-hidden="true"></i> NUEVO USUARIO</button>
    <!-- Modal Insertar Pacientes-->
    <div class="modal fade" id="new-paciente" tabindex="-1" role="dialog" aria-labelledby="myModallabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="cerrar_modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4><i class="fa fa-user"></i> Agregar Usuario</h4>
                </div>
                <form class="form-horizontal" name="insert-user" method="post" action="{{ urlFor('new-user') }}" data-toggle="validator">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Usuario</label>
                            <div class="col-sm-10">
                                <input type="text" name="usuario" class="form-control" placeholder="Usuario único sin espacios" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" name="nombre" class="form-control upper" placeholder="Nombre Completo del Usuario" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Contraseña</label>
                            <div class="col-sm-10">
                                <input type="password" name="pass" class="form-control" placeholder="Contraseña" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input type="password" name="pass2" class="form-control" placeholder="Repetir Contraseña" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-wd btn-primary"><span class="btn-label"><i class="fa fa-check-square-o"></i></span> REGISTRAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include '/include/alert.html.twig' %}

{% endblock %}


{% block tabla %}
    <div class="card filterable">
        <div class="card-header">
            <div class="card-title">
                <h4 class="title">TABLA DE USUARIOS</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th><center>#</center></th>
                        <th>USUARIO</th>
                        <th>NOMBRE</th>
                        <th>ROL</th>
                        <th class="th-title col-sm-2"><center>ACCIONES</center></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dato in usuarios %}
                        <tr>
                            <td width="80px"><center>{{ dato.iduser }}</center></td>
                            <td>{{ dato.usuario | upper }}</td>
                            <td>{{ dato.nombre }} </td>
                            <td>{{ dato.rol | upper }} </td>
                            <td class="acciones"><center>
                                    <ul>
                                        <li>
                                            <a href="{{ urlFor('up-usuario', {'id':dato.iduser}) }}"><i class="fa fa-pencil-square-o"></i></a>
                                        </li>
                                    </ul></center>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('.side-menu li:eq(7)').addClass('active');
    </script>
{% endblock %}