{% extends '/base.html.twig' %}

{% block title %}Pacientes{% endblock %}

{% block titleDash %}Registro de Pacientes{% endblock %}
{% block infoDash %}Altas, bajas y modificaciones de los pacientes{% endblock %}

{% block nuevo %}
    <button class="btn btn-info" data-toggle="modal" data-target="#new-paciente"><i class="fa fa-plus" aria-hidden="true"></i> NUEVO PACIENTE</button>
    <!-- Modal Insertar Pacientes-->
    <div class="modal fade" id="new-paciente" tabindex="-1" role="dialog" aria-labelledby="myModallabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="cerrar_modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4><i class="fa fa-female"></i> Agregar Paciente</h4>
                </div>
                <form class="form-horizontal" name="new-patient" method="post" action="{{ urlFor('nuevo-paciente') }}" data-toggle="validator">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" name="nombre" class="form-control upper" placeholder="Nombre" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Apellido</label>
                            <div class="col-sm-10">
                                <input type="text" name="apellido" class="form-control upper" placeholder="Apellidos" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Documento</label>
                            <div class="col-sm-10">
                                <input type="number" name="documento" class="form-control upper" placeholder="CI IDENTIDAD" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Nacimiento</label>
                            <div class="col-sm-10">
                                <input type="date" name="nacimiento"  class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sexo" class="col-sm-2 control-label">Sexo</label>
                            <div class="col-sm-10">
                                <select name="sexo" class="form-control">
                                    <option value="F"> Femenino</option>
                                    <option value="M"> Masculino</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Celular</label>
                            <div class="col-sm-10">
                                <input type="number" name="celular" class="form-control" placeholder="09X0123456" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Telefono</label>
                            <div class="col-sm-10">
                                <input type="number" name="telefono" class="form-control" placeholder="TELEFONO ALTERNATIVO" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">E-mail</label>
                            <div class="col-sm-10">
                                <input type="email" name="email" class="form-control" placeholder="email@fisiostetik.com.py" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Direccion</label>
                            <div class="col-sm-10">
                                <input type="text" name="direccion" class="form-control upper">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Ciudad</label>
                            <div class="col-sm-10">
                                <input type="text" name="ciudad" class="form-control upper" placeholder="Asuncion">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tratamiento" class="col-sm-2 control-label">Tratamiento</label>
                            <div class="col-sm-10">
                                <select name="tratamiento" class="form-control">
                                    <option value="1"> CORPORAL</option>
                                    <option value="2"> FACIAL</option>
                                    <option value="3"> CORPORAL & FACIAL</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-wd btn-primary"><span class="btn-label"><i class="fa fa-check-square-o"></i></span> REGISTRAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include '/include/alert.html.twig' %}

{% endblock %}


{% block tabla %}
    <div class="card filterable">
        <div class="card-header">
            <div class="card-title col-md-6 col-lg-9 col-sm-6">
                <h4 class="title">TABLA DE PACIENTES</h4>
            </div>
            <div class="card-title col-md-6 col-lg-3 col-sm-6">
                <form class="form-horizontal mt0" method="post" action="{{ urlFor('search-pacientes') }}" role="search">
                    <div class="pull-right">
                        <div class="right-inner-addon">
                            <i class="fa fa-search"></i>
                            <input type="text" name="buscar" class="form-control" value="" placeholder="Buscar Apellido..">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>NOMBRE</th>
                            <th>APELLIDO</th>
                            <th>DOCUMENTO</th>
                            <th>NACIMIENTO</th>
                            <th>CELULAR</th>
                            <th>TELEFONO</th>
                            <th>E-MAIL</th>
                            <th>EDAD</th>
                            <th>CIUDAD</th>
                            <th>TIPO PACIENTE</th>
                            {#<th class="text-center">Acciones</th>#}
                        </tr>
                    </thead>

                    <tbody>
                        {% for dato in pacientes %}
                            <tr>
                                <td class="text-center"><a href="{{ urlFor('up-paciente',{id:dato.idpacientes}) }}">{{ dato.idpacientes }}</a></td>
                                <td>{{ dato.nombre | upper }}</td>
                                <td>{{ dato.apellidos | upper }}</td>
                                <td>{{ dato.documento|number_format(0, ',', '.') }} </td>
                                <td>{{ dato.nacimiento|date("d-m-Y") }} </td>
                                <td>{{ dato.celular }} </td>
                                <td>{{ dato.telefono }} </td>
                                <td>{{ dato.email }}</td>
                                <td>{{ dato.edad }}</td>
                                <td>{{ dato.ciudad | upper}}</td>
                                <td>{{ dato.tratamiento}}</td>
                                {#<td class="acciones"><center>
                                        <ul>
                                            <li>
                                                <a href="{{ urlFor('up-paciente', {'id':dato.idpacientes}) }}"><i class="fa fa-pencil-square-o"></i></a>
                                            </li>
                                            <li>
                                                <a class="eliminar" href="#" data-href="" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-o delete" style="color: #F05050"></i></a>
                                            </li>
                                        </ul></center>
                                </td>#}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}



{% block javascripts %}
    <script type="text/javascript">
        $('.side-menu li:eq(1)').addClass('active');
        $('.side-menu li:eq(2)').addClass('active2');
    </script>
{% endblock %}