{% extends '/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/loaders.css" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/dataTables.bootstrap.min.css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/buttons.dataTables.min.css" />
{% endblock %}


{% block title %}Reportes{% endblock %}

{% block titleDash %}Reportes{% endblock %}
{% block infoDash %}Reportes de todos los pacientes registrados{% endblock %}

{% block tabla %}
    <!--Loader-->
    <div class="loader2">
        <div class="loading">
            <span>L</span><span>o</span><span>a</span><span>d</span><span>i</span><span>n</span><span>g</span>
        </div>
    </div>

    <div class="card filterable">
        <div class="card-header">
            <div class="card-title">
                <h4 class="title">REPORTE DE PACIENTES</h4>
            </div>
        </div>
        <div class="card-body" >
            <table class="datatable table table-striped" cellspacing="0" width="100%" style="display: none">
                <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>DOCUMENTO</th>
                    <th>NACIMIENTO</th>
                    <th>CELULAR</th>
                    <th>TELEFONO</th>
                    <th>E-MAIL</th>
                    <th>EDAD</th>
                    <th>DIRECCION</th>
                    <th>CIUDAD</th>
                    <th>TIPO PACIENTE</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>DOCUMENTO</th>
                    <th>NACIMIENTO</th>
                    <th>CELULAR</th>
                    <th>TELEFONO</th>
                    <th>E-MAIL</th>
                    <th>EDAD</th>
                    <th>DIRECCION</th>
                    <th>CIUDAD</th>
                    <th>TIPO PACIENTE</th>
                </tr>
                </tfoot>
                <tbody>
                    {% for dato in pacientes %}
                        <tr>
                            <td>{{ dato.nombre | upper }}</td>
                            <td>{{ dato.apellidos | upper }}</td>
                            <td>{{ dato.documento | number_format(0, ',', '.') }}</td>
                            <td>{{ dato.nacimiento|date("d-m-Y") }} </td>
                            <td>{{ dato.celular }} </td>
                            <td>{{ dato.telefono }} </td>
                            <td>{{ dato.email }}</td>
                            <td>{{ dato.edad }}</td>
                            <td>{{ dato.direccion | upper}}</td>
                            <td>{{ dato.ciudad | upper}}</td>
                            <td>{{ dato.tratamiento}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ dir }}/assets/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/js/dataTable/buttons.html5.min.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/js/dataTable/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/js/dataTable/jszip.min.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/js/dataTable/vfs_fonts.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/js/dataTable/buttons.colVis.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('.side-menu li:eq(1)').addClass('active');
        $('.side-menu li:eq(3)').addClass('active2');
        $(window).on('load', function(){
            // Animate loader off screen
            $(".loader2").fadeOut("slow");
        });
        $('.datatable').dataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excel',
                    text: 'EXCEL',
                    className: 'btn-pdf',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'colvis',
                    text: 'COLUMNAS',
                    className: 'btn-pdf'
                }
            ],
            columnDefs: [ {
                targets: -1,
                visible: false
            } ]
        }, $(".datatable").fadeIn("slow"));

    </script>
{% endblock %}