{% extends '/base.html.twig' %}

{% block title %}Pacientes{% endblock %}


{% block titleDash %}Modificacion de Pacientes{% endblock %}
{% block infoDash %}Actualiza los datos del paciente seleccionado{% endblock %}

{% block tabla %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>PACIENTE: {{ paciente.nombre|upper }} {{ paciente.apellidos|upper }}</h4>
    </div>

    <div class="panel-body">
        <form class="form-horizontal" method="post" action="{{ urlFor('update-paciente') }}" data-toggle="validator">
            <input type="hidden" name="id" value="{{ paciente.idpacientes }}" />
            <input type="hidden" name="user" value="{{ user['iduser'] }}" />
            {#<input type="hidden" name="nombre-anterior" value="{{ paciente.nombre }}" />#}
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" name="nombre" class="form-control upper" placeholder="Nombres" value="{{ paciente.nombre }}" autocomplete="off" required>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Apellido</label>
                <div class="col-sm-10">
                    <input type="text" name="apellido" class="form-control upper" placeholder="Apellidos" value="{{ paciente.apellidos }}" autocomplete="off" required>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Documento</label>
                <div class="col-sm-10">
                    <input type="number" name="documento" class="form-control upper" placeholder="CI Numero" value="{{ paciente.documento }}" autocomplete="off" required>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Nacimiento</label>
                <div class="col-sm-10">
                    <input type="date" name="nacimiento" class="form-control" value="{{paciente.nacimiento |date("Y-m-d")}}"  />
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Celular</label>
                <div class="col-sm-10">
                    <input type="number" name="celular" class="form-control" placeholder="+595X000000" value="{{ paciente.celular }}" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Telefono</label>
                <div class="col-sm-10">
                    <input type="text" name="telefono" class="form-control" placeholder="Telefono alternativo" value="{{ paciente.telefono }}" autocomplete="off" >
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">E-mail</label>
                <div class="col-sm-10">
                    <input type="email" name="email" class="form-control" placeholder="email@fisiostetik.com.py" value="{{ paciente.email }}" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Direccion</label>
                <div class="col-sm-10">
                    <input type="text" name="direccion" class="form-control upper" placeholder="calle n°" value="{{ paciente.direccion }}" >
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Ciudad</label>
                <div class="col-sm-10">
                    <input type="text" name="ciudad" class="form-control upper" placeholder="Asuncion" value="{{ paciente.ciudad }}" >
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" id="genero" value="{{ paciente.sexo|lower }}" />
                <label for="sexo" class="col-sm-2 control-label">Sexo</label>
                <div class="col-sm-10">
                    <select name="sexo" class="form-control" id="selsexo">
                        <option value="m"> Masculino</option>
                        <option value="f"> Femenino</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" id="trat" value="{{ paciente.idtratamientos }}" />
                <label for="tratamiento" class="col-sm-2 control-label">Tratamiento</label>
                <div class="col-sm-10">
                    <select id="seltrat" name="tratamiento" class="form-control">
                        <option value="1"> CORPORAL</option>
                        <option value="2"> FACIAL</option>
                        <option value="3"> CORPORAL & FACIAL</option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Detalle</label>
                <div class="col-sm-10">
                    <input type="text" name="detalle" class="form-control" placeholder="Por que se modifica?" required>
                </div>
            </div>
            <div class="text-right"><input type="submit" value="ACTUALIZAR" class="btn btn-default" style="background-color: #fff; color:#A866F5; border: 1px solid #A866F5" /></div>
        </form>
    </div>
</div>

<div><a class="btn btn-info" href="{{ urlFor('pacientes') }}"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Regresar</a></div>

    {% include '/include/alert.html.twig' %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $("#selsexo").val($('#genero').val());
        $("#seltrat").val($('#trat').val());
        $('.side-menu li:eq(1)').addClass('active');
        $('.side-menu li:eq(2)').addClass('active2');
    </script>
{% endblock %}